/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
LICENSE
clojure_final_project.iml
CHANGELOG.md
.nrepl-port
.DS_Store
/test
.idea
/doc
/resources
/target
